ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.photo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.photo-grid-item {
	display: table;
}

.photo-grid-item > * {
	display: table-row;
}

.photo-grid-item img {
	height: 200px;
}

.photo-grid-item button {
	position: relative;
	top: 33px;
}