#iconoGog{
    width: 348.525px;
    height: 78px;
    margin-bottom: 1em;
}

.text-center {
        text-align: center;
    }

    .g-recaptcha {
        display: inline-block;
    }

#botonEnviar{
	margin-right: 13em;
}
